<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.baselibrary">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".utils.permission.lib.activity.PermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/permission_PermissionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <provider
            android:name=".utils.provider.BaseFileProvider"
            android:authorities="${applicationId}.koala.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_file_paths" />
        </provider>
    </application>

</manifest>
